/* On importe bootstrap */
@import "./bootstrap/bootstrap-custom";

.big-btn {
  width: 80px;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
}

.space {
  height: 130px;
}

.note {
  font-size: 200px;
  font-weight: bold;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: #0275d8;
    border-color: #0275d8;
}

.mask {
  display: none;
}
